@font-face {
    font-family: 'The Bold Font';
    font-style: normal;
    font-weight: 700;
    src: local('The Bold Font'), url('https://fonts.cdnfonts.com/s/15153/theboldfont.woff') format('woff');
}


